*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(241, 211, 38) ;
    text-align: center;
}
header{
    width: 100%;
    height: 30px;
    background-color: rgb(255, 135, 36);
}
p{
    margin-top: 10px ;
}